[submodule "shadowsocks-rust/src"]
	path = shadowsocks-rust/src
	url = https://github.com/shadowsocks/shadowsocks-rust.git
[submodule "shadowsocks-libev/src"]
	path = shadowsocks-libev/src
	url = https://github.com/shadowsocks/shadowsocks-libev.git
[submodule "nps/src"]
	path = nps/src
	url = https://github.com/ehang-io/nps.git
